.venv/
__pycache__/
*.pyc
.vscode/
.env/
.venv-langchain/
Week-5/day2/.env
Week-5/day2/.env
Week-5/day3/.env
.venv-crewai/
Week-5/day4/.env
Week-5/day5/.env
Week-6/day3/.env
Week-6/day4/.env
Week-6/day5/.env
